* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-size: 16px;
}

body {
  background-color: #C5E4E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 88px;
  min-height: 100vh;
}
@media screen and (max-width: 950px) {
  body {
    padding-top: 88px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0 15px 15px;
}
form label {
  color: #5E7A7D;
}

.calculator {
  max-width: 920px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  display: flex;
  gap: 48px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
@media screen and (max-width: 950px) {
  .calculator {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    padding: 24px;
    gap: 0;
  }
}

input[id=bill], input[id=people] {
  background-color: #F3F9FA;
  border: none;
  padding: 0 17px;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  min-height: 48px;
  color: #00474B;
  text-align: right;
  margin-top: 6px;
}
@media screen and (max-width: 950px) {
  input[id=bill], input[id=people] {
    margin-bottom: 32px;
  }
}
input[id=bill]::-moz-placeholder, input[id=people]::-moz-placeholder {
  color: #9EBBBD;
}
input[id=bill]::placeholder, input[id=people]::placeholder {
  color: #9EBBBD;
}

.bill-input-after, .people-input-after {
  position: relative;
}

.bill-input-after::after {
  content: url("../images/icon-dollar.svg");
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -30%);
}
@media screen and (max-width: 950px) {
  .bill-input-after::after {
    top: 31%;
  }
}

.people-input-after::after {
  content: url("../images/icon-person.svg");
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -30%);
}
@media screen and (max-width: 950px) {
  .people-input-after::after {
    top: 30%;
  }
}

.percent-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin-top: 16px;
}
@media screen and (max-width: 950px) {
  .percent-options {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
  }
}
.percent-options button {
  min-height: 48px;
  background-color: #00474B;
  max-width: 117px;
  border-radius: 5px;
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
}
@media screen and (max-width: 950px) {
  .percent-options button {
    max-width: 1000px;
    min-width: 100px;
  }
}
.percent-options button:hover {
  cursor: pointer;
  background-color: #9FE8DF;
}
.percent-options input {
  min-height: 48px;
  max-width: 117px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  background-color: #F3F9FA;
  padding: 0 13px;
  text-align: right;
}
@media screen and (max-width: 950px) {
  .percent-options input {
    max-width: 200px;
    width: auto;
    min-width: 100px;
  }
}
.percent-options input::-moz-placeholder {
  color: #547878;
}
.percent-options input::placeholder {
  color: #547878;
}

.error-bill, .error-people, .error-tip {
  color: #E17457;
}

.tip-result, .total-result {
  font-size: 48px;
  color: #26C2AE;
}

.active {
  background-color: #26C2AE !important;
}

.result-container {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 40px;
  min-width: 413px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 950px) {
  .result-container {
    min-width: auto;
    padding: 24px;
  }
}
.result-container .person {
  color: #7F9D9F;
  font-size: 13px;
}
.result-container .montants {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.result-container .montants > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result-container button {
  background-color: #0D686D;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  width: 100%;
  padding: 17px 0;
  border-radius: 5px;
  border: none;
}
.result-container button:hover {
  cursor: pointer;
  background-color: #9FE8DF !important;
}/*# sourceMappingURL=main.css.map */